@keyframes change {
  from {

  }

  to {

    background-color: rgba(255,0,0,1);
  }
}

div.closeWindow{
  overflow: hidden;
}
div.onAir{
  background: rgba(0,0,0,0.9);
  color: #fff;
  height: 100%;
  text-align: center;
  padding: 20px 1%;
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 98%;
}
div.onAir a.callToAction{
  background: #1d1d1d;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: block;
  max-width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  z-index: 1000;
  right: 100px;
}
div.onAir a.callToAction:hover{
  background: #555;
  text-decoration: underline;
}
div.onAir div.custom{
  max-width: 800px;
  margin: 0 auto;
}
div.onAir div.titleOnAir{
  font-size: 18px;
  padding: 0 0 20px 0;
  text-align: left;
}
div.onAir div.titleOnAir strong{
  background-color: rgba(255,0,0,.3);
  border-radius: 50%;
  display:inline-block;
  height: 30px;
  width: 30px;
  animation-duration: 1s;
  animation-name: change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
div.onAir img.principal{
  width: 100%;
 max-width: 720px;
}

div.onAir p{
  text-align: left;
}

div.onAir iframe.fullVideo{
  position: absolute;
  height: 50%;
  left: 0;
  width: 100%;
  z-index: 10;
}

div.onAir h2{
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

div.headerOnAir{
  overflow: hidden;
}

#closeOnAir{
  background-image: url('close.png');
  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: right;
  min-height: 42px;
  padding-right: 50px;
  padding-top: 14px;
  cursor: pointer;
  width: 160px;
  float: right;
}

@media screen and (min-height:500px){
  div.onAir iframe.fullVideo{
    height: 70%;
  }
}
