/*@import "initial_style";*/
/* line 7, ../sass/base/_fonts.scss */
.page-body blockquote {
  font-family: 'Alegreya', serif;
}

/* line 11, ../sass/base/_fonts.scss */
.page-body blockquote {
  font-weight: 400;
}

/* line 22, ../sass/base/_fonts.scss */
blockquote {
  font-family: 'Alegreya SC', sans-serif;
}

/* line 25, ../sass/base/_fonts.scss */
blockquote {
  font-style: italic;
}

/* line 36, ../sass/base/_fonts.scss */
h3, .page-body h2, article table.default th, .single article table th, .landing-page article table th, article table.default td:first-child, .single article table td:first-child, .landing-page article table td:first-child, #more-articles .title, h4, .page-body h3, label {
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* line 45, ../sass/base/_fonts.scss */
h3, .page-body h2, article table.default th, .single article table th, .landing-page article table th, article table.default td:first-child, .single article table td:first-child, .landing-page article table td:first-child, #more-articles .title {
  font-weight: 500;
}

/* line 45, ../sass/base/_fonts.scss */
/*article table.simple th*/
/*}*/

/* line 59, ../sass/base/_fonts.scss */
h1, h2, h5 {
  font-family: 'Lato', sans-serif;
}

/* line 69, ../sass/base/_fonts.scss */
h1, h2, h5 {
  font-weight: 400;
}

/* line 105, ../sass/base/_fonts.scss */
body, p, li, td, address, a, .menu a, nav, article table.td-common td:first-child {
  font-family: "Roboto";
}

/* line 110, ../sass/base/_fonts.scss */
body, p, li, td, address, a, .menu a, nav, article table.td-common td:first-child {
  font-weight: 300;
}

/* line 2, ../sass/base/_classes.scss */
.hidden-content,
.hidden-post {
  display: none;
}

/* line 11, ../sass/base/_classes.scss */
.img-responsive {
  max-width: 100% !important;
}

@media screen and (max-width: 767px) {
  /* line 18, ../sass/base/_classes.scss */
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  /* line 28, ../sass/base/_classes.scss */
  .mobile {
    display: none;
  }
}
/* line 39, ../sass/base/_topography.scss */
p, li, td, address, a.unseen:hover, .title a:hover, .title a.unseen:hover {
  color: #4c5b5b;
}

/* line 42, ../sass/base/_topography.scss */
h1, h2, h3, .page-body h2, h4, .page-body h3, h5, blockquote {
  color: #394949;
}

/* line 45, ../sass/base/_topography.scss */
a {
  color: #64bbf4;
}

/* line 51, ../sass/base/_topography.scss */
h1, h2, h3, .page-body h2, h4, .page-body h3, h5 {
  line-height: 1.1em;
}

/* line 63, ../sass/base/_topography.scss */
p:last-child, section ul li:last-child, p:only-child, section ul li:only-child {
  margin-bottom: 0 !important;
}

/* line 23, ../sass/base/_headings.scss */
.underline, .underline-left {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 60px;
}
/* line 28, ../sass/base/_headings.scss */
.underline:after, .underline-left:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 170px;
  height: 1px;
  background: #e5e8e9;
}

/* line 42, ../sass/base/_headings.scss */
.underline:after {
  margin: 0px auto;
}

@media screen and (max-width: 767px) {
  /* line 6, ../sass/base/_tables.scss */
  article table.default, .single article table, .landing-page article table, article table.unseen, article .swipe, article .swipeable {
    overflow-x: auto !important;
    display: block;
    -webkit-overflow-scrolling: auto;
  }
}

@media screen and (max-width: 767px) {
  /* line 8, ../sass/base/_scroll_bar.scss */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  /*
  ::-webkit-scrollbar:vertical {
      width: 12px;
  }
  */
  /* line 18, ../sass/base/_scroll_bar.scss */
  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  /* line 22, ../sass/base/_scroll_bar.scss */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
  }

  /* line 28, ../sass/base/_scroll_bar.scss */
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  /* line 6, ../sass/base/_tables.scss */
  article table.default, .single article table, .landing-page article table, article table.unseen, article .swipe, article .swipeable {
    overflow-x: auto !important;
    display: block;
    -webkit-overflow-scrolling: auto;
  }
}

/* line 7, ../sass/elements/_wisiwyg.scss */
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 8, ../sass/elements/_wisiwyg.scss */
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 9, ../sass/elements/_wisiwyg.scss */
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../sass/elements/_wisiwyg.scss */
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 11, ../sass/elements/_wisiwyg.scss */
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 12, ../sass/elements/_wisiwyg.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 8, ../sass/elements/_topography.scss */
h1 {
  font-size: 36px;
}

/* line 14, ../sass/elements/_topography.scss */
h2 {
  font-size: 32px;
}

/* line 20, ../sass/elements/_topography.scss */
h3, .page-body h2 {
  font-size: 26px;
}

/* line 26, ../sass/elements/_topography.scss */
h4, .page-body h3 {
  font-size: 22px;
}

/* line 32, ../sass/elements/_topography.scss */
h5 {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  /* line 42, ../sass/elements/_topography.scss */
  h1 {
    font-size: 38px;
  }

  /* line 45, ../sass/elements/_topography.scss */
  h2 {
    font-size: 32px;
  }

  /* line 48, ../sass/elements/_topography.scss */
  h3, .page-body h2 {
    font-size: 28px;
  }

  /* line 51, ../sass/elements/_topography.scss */
  h4, .page-body h3 {
    font-size: 22px;
  }

  /* line 54, ../sass/elements/_topography.scss */
  h5 {
    font-size: 18px;
  }

  /* line 59, ../sass/elements/_topography.scss */
  blockquote {
    font-size: 30px;
  }
}
/* line 74, ../sass/elements/_topography.scss */
.text-wrapper h3, .text-wrapper h4 {
  margin-bottom: 20px;
}

/* line 85, ../sass/elements/_topography.scss */
p, li, td, address {
  font-size: 16px;
  line-height: 1.6em;
}
/* line 92, ../sass/elements/_topography.scss */
p strong,
p b, li strong,
li b, td strong,
td b, address strong,
address b {
  font-weight: 700;
}
/* line 97, ../sass/elements/_topography.scss */
p em,
p i, li em,
li i, td em,
td i, address em,
address i {
  font-style: italic;
}

/* line 107, ../sass/elements/_topography.scss */
p:empty {
  display: none;
}

/* line 127, ../sass/elements/_topography.scss */
a:hover, a:focus {
  color: #1585d0;
}
/* line 132, ../sass/elements/_topography.scss */
a.unseen, .title a, .title a.unseen {
  font-weight: inherit;
  color: inherit;
}
/* line 138, ../sass/elements/_topography.scss */
a.unseen:hover, .title a:hover, .title a.unseen:hover {
  /*text-decoration: underline;*/
}

/* line 147, ../sass/elements/_topography.scss */
label {
  font-size: 20px;
  line-height: 1em;
}

/* line 154, ../sass/elements/_topography.scss */
blockquote {
  font-size: 30px;
  line-height: 1.3em;
}

/* line 9, ../sass/pages/pages/_topography.scss */
.page-body .single-post-thumbnail {
  margin-bottom: 50px;
}
/* line 12, ../sass/pages/pages/_topography.scss */
.page-body .single-post-thumbnail img {
  margin: 0 auto;
}
/* line 17, ../sass/pages/pages/_topography.scss */
.page-body h2, .page-body h3, .page-body h4, .page-body h5 {
  margin-bottom: 25px;
}
/* line 29, ../sass/pages/pages/_topography.scss */
.page-body h4 {
  margin-top: 45px;
}
/* line 35, ../sass/pages/pages/_topography.scss */
.page-body h5 {
  margin-top: 50px;
}
/* line 41, ../sass/pages/pages/_topography.scss */
.page-body p {
  margin-bottom: 20px;
}
/* line 45, ../sass/pages/pages/_topography.scss */
.page-body ul {
  list-style: disc;
  padding-left: 18px;
  margin-bottom: 20px;
}
/* line 9, ../sass/base/_lists.scss */
.page-body ul li {
  margin-bottom: 7px;
}
/* line 49, ../sass/pages/pages/_topography.scss */
.page-body ol {
  list-style: decimal;
  padding-left: 22px;
  margin-bottom: 20px;
}
/* line 9, ../sass/base/_lists.scss */
.page-body ol li {
  margin-bottom: 7px;
}
/* line 54, ../sass/pages/pages/_topography.scss */
.page-body hr {
  margin-top: 35px;
  margin-bottom: 30px;
  border-top: 1px solid #e5e8e9;
}
/* line 60, ../sass/pages/pages/_topography.scss */
.page-body blockquote {
  border-top: 1px solid #e5e8e9;
  border-bottom: 1px solid #e5e8e9;
  padding: 35px 50px 40px;
  margin: 55px 10px 60px;
  text-align: center;
}
/* line 69, ../sass/pages/pages/_topography.scss */
.page-body table {
  width: 100%;
}
/* line 77, ../sass/pages/pages/_topography.scss */
.page-body .note {
  font-size: 15px;
  color: #878e8e;
}

/* line 2, ../sass/pages/pages/_images.scss */
.page-body {
  /*    p {
          &:first-of-type {
              img {
                  margin-bottom: 50px;
              }
          }
      }*/
}
/* line 14, ../sass/pages/pages/_images.scss */
.page-body img {
  height: auto;
}
/* line 17, ../sass/pages/pages/_images.scss */
.page-body img.size-full {
  /*width: 100%;*/
}
/* line 24, ../sass/pages/pages/_images.scss */
.page-body article.col-md-8 img {
  max-width: 800px;
}
/* line 31, ../sass/pages/pages/_images.scss */
.page-body article.col-md-offset-2 img {
  max-width: 770px;
}

@media screen and (max-width: 767px) {
  /* line 48, ../sass/pages/pages/_images.scss */
  .page-body img {
    width: 100%;
    height: auto;
  }
}
/* line 4, ../sass/pages/pages/_sections.scss */
.page-body section, .single .page-body h2, .DIY h2 {
  margin-top: 30px;
}

/* line 8, ../sass/pages/pages/_sections.scss */
.page-body section.bordered, .single .page-body h2, .DIY h2 {
  border-top: 1px solid #e5e8e9;
  padding-top: 27px;
}

.single .page-body .tooltip h2{
		border-top:0px!important;
		margin-top:0px!important;
		padding-top:0px!important;
}

/* line 12, ../sass/pages/pages/_sections.scss */
.page-body section.bordered:empty, .single .page-body h2:empty, .DIY h2:empty {
  display: none;
}

/* line 17, ../sass/pages/pages/_sections.scss */
.page-body blockquote + h2, .page-body blockquote + *:empty + h2 {
  padding-top: 0;
  margin-top: -30px;
  border-top: none;
}

/* line 28, ../sass/pages/pages/_sections.scss */
.page-body section:first-of-type {
  margin: 0;
}

/* line 2, ../sass/pages/pages/_tables.scss */
.page-body table.default,
.page-body .dataTables_wrapper, article table.default, .single article table, .landing-page article table {
  margin: 35px 0;
}

/* line 6, ../sass/pages/pages/_tables.scss */
article table.default th, .single article table th, .landing-page article table th {
  font-size: 24px;
}

/* line 10, ../sass/pages/pages/_tables.scss */
article table.default td:first-child, .single article table td:first-child, .landing-page article table td:first-child {
  font-size: 19px;
}

/* line 15, ../sass/pages/pages/_tables.scss */
article table.td-common td:first-child {
  font-size: 16px;
}

/* line 31, ../sass/base/_tables.scss */
article table.default th, .single article table th, .landing-page article table th, article table.default td.th, .single article table td.th, .landing-page article table td.th {
  background: #f6fbff;
  padding: 20px 12px 19px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: 1px solid #f6fbff;
}
/* line 53, ../sass/base/_tables.scss */
article table.default td, .single article table td, .landing-page article table td {
  text-align: left;
  padding: 28px 24px 25px;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: 1px solid #e5e8e9;
}

/* line 65, ../sass/pages/pages/_tables.scss */
article table.unseen {
  margin: 0;
}
/* line 31, ../sass/base/_tables.scss */
article table.unseen th {
  background: transparent;
  padding: 20px 0 19px;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: 1px solid transparent;
}
/* line 53, ../sass/base/_tables.scss */
article table.unseen td {
  text-align: left;
  padding: 0 0 0;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: none;
}
/* line 31, ../sass/base/_tables.scss */
article .swipe th,
article .swipeable th {
  background: #f6fbff;
  padding: 20px 12px 19px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: 1px solid #f6fbff;
}
/* line 53, ../sass/base/_tables.scss */
article .swipe td,
article .swipeable td {
  text-align: left;
  padding: 28px 24px 25px;
  vertical-align: top;
  overflow: hidden;
  word-break: normal;
  border: 1px solid #e5e8e9;
}

/* line 88, ../sass/pages/pages/_tables.scss */
table.col-3 td {
  width: 30%;
}
/* line 91, ../sass/pages/pages/_tables.scss */
table.col-3 td:first-child {
  width: 40%;
}
/* line 97, ../sass/pages/pages/_tables.scss */
table.col-4 td {
  width: 23%;
}
/* line 100, ../sass/pages/pages/_tables.scss */
table.col-4 td:first-child {
  width: 31%;
}
/* line 106, ../sass/pages/pages/_tables.scss */
table.col-5 td {
  width: 19%;
}
/* line 109, ../sass/pages/pages/_tables.scss */
table.col-5 td:first-child {
  width: 24%;
}
/* line 115, ../sass/pages/pages/_tables.scss */
table.col-6 td {
  width: 16%;
}
/* line 118, ../sass/pages/pages/_tables.scss */
table.col-6 td:first-child {
  width: 20%;
}

/*aside {
    table {
        //@include table(top,transparent,horizontal,left,10px,0,10px,right,horizontal);
    }
}*/
@media screen and (max-width: 767px) {
  /* line 7, ../sass/pages/pages/_table_press.scss */
  .tablepress {
    display: table !important;
  }

  /* line 11, ../sass/pages/pages/_table_press.scss */
  .dataTables_scroll {
    overflow-x: auto;
  }

  /* line 15, ../sass/pages/pages/_table_press.scss */
  .dataTables_scrollHead,
  .dataTables_scrollBody {
    overflow: initial !important;
  }

  /* line 20, ../sass/pages/pages/_table_press.scss */
  .tablepress td,
  .tablepress th {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
/* line 2, ../sass/modules/bootstrap/_well.scss */
.well {
  background: #f6fbff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 8, ../sass/modules/bootstrap/_well.scss */
.well {
  border: none;
  box-shadow: none;
}

/* line 15, ../sass/modules/bootstrap/_well.scss */
.well-1 {
  border: 1px #ccc solid;
  background-color: #F6FBFE;
  padding: 15px;
}

/* line 2, ../sass/modules/bootstrap/_panel.scss */
.panel {
  border: 1px solid #e5e8e9;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 6, ../sass/modules/bootstrap/_panel.scss */
.panel.panel-default {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 11, ../sass/modules/bootstrap/_panel.scss */
.panel-footer {
  background: none;
  border: none;
  padding: 0;
}

/* line 2, ../sass/modules/_more_articles.scss */
#more-articles {
  padding: 64px 0;
  border-top: 1px solid #e5e8e9;
  border-bottom: 1px solid #e5e8e9;
  margin-bottom: -1px;
}
/* line 8, ../sass/modules/_more_articles.scss */
#more-articles a {
  display: inline-block;
}
/* line 14, ../sass/modules/_more_articles.scss */
#more-articles .desktop img {
  width: 122px;
  height: 90px;
  max-width: 122px;
  max-height: 90px;
}
/* line 23, ../sass/modules/_more_articles.scss */
#more-articles .post-date {
  margin-bottom: 15px;
}
/* line 27, ../sass/modules/_more_articles.scss */
#more-articles .title {
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  /* line 38, ../sass/modules/_more_articles.scss */
  .one-more-articles {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 50, ../sass/modules/_more_articles.scss */
  #more-articles .col-md-5 {
    padding-right: 8px;
  }
  /* line 54, ../sass/modules/_more_articles.scss */
  #more-articles .col-md-7 {
    padding-left: 0;
  }
}
/* line 3, ../sass/modules/_user_comments.scss */
#user-comments .wrapper {
  border-top: 1px solid #e5e8e9;
  padding-top: 64px;
}

/* line 3, ../sass/modules/_polldaddy.scss */
.pds-box label span {
  color: inherit;
  padding: inherit;
}
/* line 7, ../sass/modules/_polldaddy.scss */
.pds-box input {
  min-height: inherit;
}
/* line 10, ../sass/modules/_polldaddy.scss */
.pds-box input[type=checkbox] {
  margin: 0;
}

/* line 4, ../sass/pages/blog_single/_images.scss */
.page-body img {
  padding: 5px;
  /*border: 1px solid #bfc0c1;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

/*@include bp(max,$bp-medium-down) {

    .page-body {
        img {}
    }
}*/
/* line 6, ../sass/pages/blog_single/_image_gallery.scss */
.page-body .gallery img {
  border: 2px solid #cfcfcf;
  margin-bottom: 10px;
}

/* line 6, ../sass/pages/blog_single/_topography.scss */
.page-body blockquote {
  font-style: normal;
  text-transform: none;
  font-size: 25px;
}

/* line 5, ../sass/pages/pages/_layout_temporary.scss */
.page-body .container {
  padding-bottom: 60px;
}


 /* Simple tables */

	.page-template-template-like-a-blog article table th{font-family: 'Alegreya Sans SC', sans-serif; font-weight: 500; border:1px solid #e5e8e9!important;}
	.page-template-template-like-a-blog article table{margin: 35px 0; }
	.page-template-template-like-a-blog article table th{font-size: 24px; }
	.page-template-template-like-a-blog article table th, .page-template-template-like-a-blog article table td.th{background: #f6fbff; padding: 20px 12px 19px; text-align: center; vertical-align: top; overflow: hidden; word-break: normal; border: 1px solid #f6fbff; }
	.page-template-template-like-a-blog article table td{text-align: left; padding: 28px 24px 25px; vertical-align: top; overflow: hidden; word-break: normal; border: 1px solid #e5e8e9; }

	@media screen and (max-width: 767px) {
	  .page-template-template-like-a-blog article table{overflow-x: auto !important; display: block; -webkit-overflow-scrolling: auto; }
	}

	@media screen and (max-width: 767px) {
	  .page-template-template-like-a-blog article table{overflow-x: auto !important; display: block; -webkit-overflow-scrolling: auto; }

	  .page-template-template-like-a-blog article .table-responsive{border:0px;}
	}

h3.h3-like-h2{font-size: 28px; }


/* Add extra line-height / color to certain paragraphs */
	#post-content p{color:#000; line-height:1.75em;}
		#post-content p.well-1 {color:#4c5b5b; line-height:1.6em;}
	#post-content li{color:#000;}



/* Side-by-side */

#final-sbs-section{opacity:0;transition:0.35s;}
#final-sbs-section.ready{opacity:1;}

	.one-cell{
	    padding:20px;
	    border:1px solid #e5e8e9;
	    text-align:center;
	}
	.one-cell.text-left{text-align:left!important;}

	.one-cell p.checkbox-value{text-align:left!important}
	#side-by-side-table .row{
	    margin-left:0px;
	    margin-right:0px
	}
	#side-by-side-table .like-h5{
		margin-top:0px!important;
		/*line-height: */
	}
	#side-by-side-table{
	    position:relative
	}
	.thumbnail-wrapper{
	    vertical-align:middle;
	    width:100%;
	    box-sizing:border-box;
	    overflow:hidden
	}
	.one-cell .machine-name{
	    font-size:18px
	}
	.one-cell .machine-name{
	    margin-bottom:10px;
	    display:block
	}
	#side-by-side-table .stars-container{
	    margin-left:auto;
	    margin-right:auto
	}
	#side-by-side-table .row > div{
	    padding-left:0px;
	    padding-right:0px;
	    margin-left:-1px;
	    margin-bottom:-1px
	}
	footer#white-footer{
	    background:#fff
	}
	#side-by-side-table .btn{
	    font-size:15px
	}
	.one-cell{
	    position:relative
	}
	.one-cell .remove-it{
	    position:absolute;
	    top:3px;
	    right:10px
	}
	#side-by-side-table .btn{
	    margin-bottom:10px;
	    padding:16px 20px;
	    width:100%;
	    max-width:200px;
	}
	#side-by-side-table p,#side-by-side-table h5{
	    margin:5px 0;
	}
	#side-by-side-table p{
		font-size:0.9em;
	}
	#side-by-side-table h5{
	    position:relative;
	    top:3px
	}
	#side-by-side-table .white-tooltip.stars-container:first-child{
	    margin-top:10px;
	    margin-bottom:0px
	}

	#side-by-side-table .a-bit-margin-top{
	    margin-top:10px;
	    margin-bottom:-7px
	}
	#side-by-side-table .a-bit-margin-bottom{
	    margin-bottom:15px
	}
	#side-by-side-table .location-based{
	    margin-top:10px
	}
	#side-by-side-table .ibeacons{
	    margin-top:10px
	}
	#side-by-side-table .white-tooltip.stars-container.very-big-margin{
	    margin-top:30px;
	    margin-bottom:0px
	}

	#side-by-side-table #overall-rating .one-cell {
	    background: #faf9f5;
	}

	.page-body .side-by-side-table h3{margin-top:0px!important;}

@media all and (max-width: 1024px){
	#final-sbs-section .swipe, .swipeable{width:100%;}
	#final-sbs-section .swipeable > div {width:720px; }
}

.overflow-hidden{
    overflow:hidden;
    padding-bottom:5px
}
#fancybox-content{
    width:calc(100%) !important
}
.thumbnail-wrapper img{
    width:100%;
    height:auto
}
.tooltip > .tooltip-inner,.tooltip{
    opacity:1 !important
}
.white-tooltip + .tooltip > .tooltip-inner{
    opacity:1;
    font-size:15px;
    width:600px;
    padding:10px 15px;
    background-color:#fff;
    color:#222;
    border:1px solid #e2e2e2;
    text-align:left
}
.white-tooltip + .tooltip.top > .tooltip-arrow{
    border-top-color:#fff
}
.dark-tooltip + .tooltip > .tooltip-inner{
    background-color:#07143a;
    padding:5px 10px;
    font-size:15px
}
.dark-tooltip + .tooltip.top > .tooltip-arrow{
    border-top-color:#07143a
}
.orange-tooltip + .tooltip > .tooltip-inner{
    background-color:#ff734a;
    padding:5px 10px;
    font-size:15px
}
.orange-tooltip + .tooltip.top > .tooltip-arrow{
    border-top-color:#ff734a
}
.orange-tooltip + .tooltip{
    cursor:pointer
}


.tooltip{
    position:absolute;
    z-index:1030;
    display:block;
    visibility:visible;
    font-size:12px;
    line-height:1.4;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.9;
    filter:alpha(opacity=90)
}
.tooltip.top{
    margin-top:-3px;
    padding:5px 0
}
.tooltip.right{
    margin-left:3px;
    padding:0 5px
}
.tooltip.bottom{
    margin-top:3px;
    padding:5px 0
}
.tooltip.left{
    margin-left:-3px;
    padding:0 5px
}
.tooltip-inner{
    /*max-width:900px;*/
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.top-left .tooltip-arrow{
    bottom:0;
    left:5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.top-right .tooltip-arrow{
    bottom:0;
    right:5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}
.tooltip.bottom-left .tooltip-arrow{
    top:0;
    left:5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}
.tooltip.bottom-right .tooltip-arrow{
    top:0;
    right:5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}

.stars-container{
    position:relative;
    width:100px;
    margin:auto;
    height:15px;
    background:url('images/star-empty-and-space-small.png') repeat-x
}
.stars-container.overall-stars{
    width:108px;
    height:18px;
    background:url('images/star-empty-and-space.png') repeat-x
}
#sticky-box-1 .overall-stars{
    margin-bottom:12px
}
.stars-full{
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100%;
    background:url('images/star-full-and-space-small.png') repeat-x
}

.stars-container.overall-stars .stars-full{
    background:url('images/star-full-and-space.png') repeat-x;
    height:16px;
}
.stars-full{
    width:100px;
    height:15px
}

.dashed-border a{
    line-height:16px;
    display:inline-block;
    font-size:14px;
    color:#394949
}
.dashed-border a:first-child{
    margin-bottom:5px
}

.side-by-side-section .eh a, .side-by-side-section .eh a:visited, .side-by-side-section .eh a:active, .side-by-side-section .eh a:hover{
    color:#4c5b5b;
}

.swipeable a{
    font-weight: 400;
}

td p.white-tooltip, td p span.white-tooltip, .side-by-side-section .white-tooltip {
    display: inline;
    border-bottom: 1px dashed #aaa;
    line-height:27px;
}

.white-tooltip.stars-container {
    display: block !important;
    border: 0px !important;
}



